* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;

  background-color: #303030;
  line-height: 1.5;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
  filter: blur(15px);
  -webkit-filter: blur(15px);
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign h1 {
  font-size: 45px;
  width: 100%;
  font-weight: bold;
  max-width: 500px;
  color: white;
  font-family: "Poppins", sans-serif;

  margin-top: auto;
  margin-bottom: 30px;
}

.email input {
  width: 100%;
  height: 32px;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-bottom: 4%;
  align-items: center;
  padding: 0 10px;

  color: white;
  border: 2px solid #bdbdbd;
  background-color: #303030;
  border-radius: 5px;
}

.password input {
  width: 100%;
  height: 32px;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-bottom: 4%;
  align-items: center;
  padding: 0 10px;

  color: white;
  border: 2px solid #bdbdbd;
  background-color: #303030;
  border-radius: 5px;
}

.email p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.password p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.image {
  height: 100%;

  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
}

.image img {
  object-fit: cover;
  border-radius: 3%;
  width: 85%;
  height: 85%;
}

.fg {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  align-self: flex-end;
}

.botao {
  color: white;
  background-color: black;
  width: 137px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.botao2 {
  color: white;
  background-color: black;
  width: 137px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-family: "Poppins", sans-serif;
  margin-left: 20px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.new {
  display: flex;
  flex-direction: row;
  padding: 200px 0px 0px 0px;
  align-items: center;
}

.new span {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao2:hover {
  background-color: white;
  color: black;
}
